<nav>
  <h1>Hi.</h1>
  <a href="{{site.url}}{{site.baseurl}}/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{ site.url }}{{ site.baseurl }}/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="http://sruban.me">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>This is my Japanese learning log. <sup><a target="_blank" href="http://www.textfugu.com/season-1/hard-way/1-7/#top">1</a></sup></p>
    <p>
        <span style="display:block; margin-bottom: .25em;">Resources:</span>

        <a href="https://play.google.com/store/apps/details?id=ric.Jsho">Jsho</a><br />
        <a href="https://jisho.org">Jisho.org</a><br />

		<a href="https://www.lingodeer.com/home">Lingodeer</a><br />
        <a href="https://play.google.com/store/apps/details?id=kr.co.yjteam.dailynote">Daily Note</a><br />
        <a href="https://play.google.com/store/apps/details?id=com.mindtwisted.kanjistudy">Kanji Study</a><br />
        <a href="https://www.clozemaster.com">ClozeMaster</a><br />

        <br/><span style="display:block; margin-bottom: .25em;">Retired:</span>
		<a href="https://www.tofugu.com/learn-japanese/">Tofugu</a><br />
		<a href="https://www.memrise.com/courses/english/japanese-4/">Memrise</a><br />
		<a href="http://www.textfugu.com/season-1">TextFugu</a><br />
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
