<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="//raw.githubusercontent.com/Zyten/zyten-learns-japanese/gh-pages/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>This will be my Japanese learning log. I started this with advice from <a href="http://www.textfugu.com/season-1/hard-way/1-7/#top">TextFugu</a> 
	and hope that the logs serve as an additional source of motivation for my journey towards Japanese mastery.</p>
    <p>
      My resources: 
		<a href="https://www.tofugu.com/learn-japanese/">Tofugu's Learn Japanese</a> | 
		<a href="http://www.textfugu.com/season-1">TextFugu</a> | 
		<a href="https://www.memrise.com/courses/english/japanese-4/">Memrise</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>