p, li {
    font-family: Helvetica Neue;
    font-size:20px; }
li {
    line-height: 1em;}

td {
    font-family: Helvetica Neue;
    font-size:16px; 
    padding: .05em}

th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .25em;
}

tr td:first-child{
    width:1%;
    white-space:nowrap;
}