p, li {
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 1.5em;
}
li {
    line-height: 1em;
}

td {
    font-family: Helvetica Neue;
    font-size: 16px;
    padding: .05em;
}

th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .25em;
}

tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#hero a {
  display: block;
  height: 200px;
  line-height: 200px;
  overflow: hidden;
}

#hero img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#search-box {
  display: inline-block;
  width: 82%;
}

.form-search {
  margin-bottom: 0;
}

.button-search {
  line-height: 2em;
  padding-bottom: 0;
}

.fa-search {
  padding-bottom: .7em !important;
}

#search-results {
  margin-top: 0;
}

#search-results > :first-child > a > h3 {
  margin-top: 0;
}
