p, li {
    font-family: Helvetica Neue;
    font-size:20px; }
li {
    line-height: 1em;}

td {
    font-family: Helvetica Neue;
    font-size:20px; 
    padding: .05em}

th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}